target/**
**/.mvn
logs/**
temp/**
**/pom.xml.versionsBackup
/target/
**/.DS_Store
**/.idea
**/.env
**/.m2
.claude/settings.local.json
src/main/resources/application-local-jwt.yml
.vscode
.classpath
.factorypath
.project
